<article class="post">
  <h2 class="post-title">
    {{ index . "CALL/BANDO" }}
  </h2>
  <span class="post-date">Scadenza: <time>{{ time.Format ":date_long" (index . "SCADENZA")  }}</time></span>
  <h3>Requisiti</h3>
  <p>{{ index . "REQUISITI" }}</p>
  <h3>Tematica/settore</h3>
  <p>{{ index . "TEMATICA /SETTORE" }}</p>
  <div class="read-more-link">
    <a href='{{ index . "LINK" }}'>URL ufficiale</a>
  </div>
  {{ if (index . "NOTE") }}
    <p>{{ index . "NOTE" }}</p>
  {{ end }}
</article>
