{{ define "main" -}}

<div class="posts">
    {{ if not .Site.Params.empty -}}
        {{ $bandi := getJSON .Site.Param.sheetsWebAppURL -}}
        <hr>
        {{ range sort $bandi.content "SCADENZA" -}}
            {{ partial "bando.html" . }}
            <hr>
        {{- end }}
    {{- else -}}
        {{ $string := (printf "var webAppURL = '%s';\n" (.Param "sheetsWebAppURL")) }}
        {{ $targetPath := "js/vars.js" }}
        {{ $vars := $string | resources.FromString $targetPath }}
        {{ $createResource := $vars.Permalink }}
        {{ readFile "static/js/app.html" | safeHTML }}
    {{- end }}
</div>

{{- end }}
